[core]
	excludesfile = ~/.gitignore_global
[user]
	name = yamarkz
	email = y.kazuki0614n@gmail.com
[alias]
  st   = status
  sh   = show
  br   = branch
  ba   = branch -a
  co   = checkout
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  log-all = log --graph --all --color --pretty='%x09%h %cn%x09%s %Cred%d%Creset']

