[core]
   excludesfile = /your/file/path/.gitignore_global

[core]
  name = Kazuki Yamaguchi
  email = y.kazuki0614n@gmail.com

[color]
  ui = auto

[alias]
  st    = status --short -branch
  lo    = log --oneline --graph
  co    = checkout
  br    = branch

[push]
  default = simple

[core]
  editor = vim +1 -c 'set fenc=utf-8'
  preloadindex = true

[help]

[github]
  user = katlez
